if alert && alert.type === 'success'
	.alert--success
		p #{alert.text}
if alert && alert.type === 'danger'
	.alert--danger
		p #{alert.text}
if alert && alert.type === 'warning'
	.alert--warning
		p #{alert.text}
if alert && alert.type === 'info'
	.alert--info
		p #{alert.text}