footer.main-footer
	.l-block.main-footer__content
		ul.list-social-network
			li.list-social-network__item
				a(href=process.env.LINKEDIN target="_blank").list-social-network__link
					i.icon-linkedin
			li.list-social-network__item
				a(href=process.env.GITHUB target="_blank").list-social-network__link
					i.icon-github
			li.list-social-network__item
				a(href=process.env.INSTAGRAM target="_blank").list-social-network__link
					i.icon-instagram
			li.list-social-network__item
				a(href=process.env.TWITTER target="_blank").list-social-network__link
					i.icon-twitter