section.l-section.pb-7.main-banner
	.l-block.l-grid.lg-grid-2.main-banner__content
		.main-banner__copy
			span ¡Hola!
			h1 Soy Carlos Ramos
			p.profession Web developer
			a(href="/cv" target="_blank").button.mr-1.button-primary Resumen
			a(href="/contacto").button.button-secondary Contacto
		img(src="https://res.cloudinary.com/cr-cloud/image/upload/v1624473183/web-site-carlos-ramos/img-main-banner.svg" alt="imagen-banner").main-banner__img