nav.main-nav
  ul.main-menu
    li.main-menu__item
      a(href=process.env.LINKEDIN target="_blank").main-menu__link
        img(src="https://res.cloudinary.com/cr-cloud/image/upload/v1624145873/web-site-carlos-ramos/linkedin.png" alt="LinkedIn")