doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Carlos Mario Ramos Pérez
    link(rel="stylesheet", href="css/styles.css")
    link(rel="stylesheet" href="https://file.myfontastic.com/SiF6DoSHerFFCD3tz3xvXh/icons.css")
  body
    include main-header
    main
      block main
    include main-footer