extends ./includes/template
append config
  - siteName = 'Oops!'
  - pageTitle = 'Page 404 not found'
block main
    .l-section.page-404
      .l-block.page-404__content
        i.icon-alert-danger
        h1.page-404__title Oops!
        h2.page-404__error 404
        p.page-404__description Página no econtrada
        a(href="/").button.button-primary ¡Sácame de aquí!