<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/main-header.ejs') %>
  <main>
    <h1>Contacto</h1>
  </main>
  <%- include('./partials/main-footer.ejs') %>
</body>
</html>