extends ./includes/template
block main
	.l-section.page-contact
		.l-block.page-contact__content
			i.icon-email
			h1 ¿Quieres contactarme?
			h2 ¡Déjame tu mensaje y conversemos!
			form(action="/contact" method="POST").form-contact.mx-auto#form-contact
				include ./includes/alert
				.l-grid.m-grid-2.gap-05.inputs
					input(type="text" name="name" placeholder="¿Cuál es tu nombre?" autocomplete="off" autofocus)
					input(type="email" name="email" placeholder="¿Cuál es tu correo?" autocomplete="off")
				textarea(name="message" placeholder="Deja tu mensaje...")
				input(type="submit" value="Enviar")