<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', { title: 'Contacto - Carlos Mario Ramos Pérez' }) %>
<body>
	<%- include('./partials/main-header.ejs') %>
	<main>
		<div class="l-section page-contact">
			<div class="l-block page-contact__content">
				<i class="icon-email"></i>
				<h1>¿Quieres contactarme?</h1>
				<h2>¡Déjame tu mensaje y conversemos!</h2>
					<form action="#" method="POST" class="form-contact mx-auto" id="form-contact">
						<div class="l-grid m-grid-2 gap-05 inputs">
							<input type="text" name="name" placeholder="¿Cuál es tu nombre?" required autocomplete="off" autofocus>
							<input type="email" name="email" placeholder="¿Cuál es tu correo?" required autocomplete="off">
						</div>
						<textarea name="message" placeholder="Deja tu mensaje..."></textarea>
						<input type="submit" value="Enviar">
					</form>
			</div>
		</main>
	</div>
		<%- include('./partials/main-footer.ejs') %>
</body>
</html>