.about-me {
	background-color: transparent;
	&__content {
		align-items: center;
		
		h2 {
			text-align: center;
			font-size: 2.25em;
			font-weight: 300;
			margin-top: 0;
			margin-bottom: .5em;
		}

		.avatar {
			border-radius: 50%;
			border: 1px solid #ccc;
			--img-max-width: 75%;
			@include from-to(m, lg) {
				--img-max-width: 45%;
			}

			@include from(lg) {
				--img-max-width: 60%;
			}
		}

		.biography {
			font-size: 1.1em;
		}
	}
}