.btn-bars {
  $color: var(--color-text);
  width: 2.2rem;
  height: 1.6rem;

  background-image: linear-gradient(
    $color 0 20%,
    transparent 20% 40%,
    $color 40% 60%,
    transparent 60% 80%,
    $color 80% 100%,
  );
}