.main-footer {
	display: grid;
	grid-column: 1;
	grid-row: 3;
	background-color: var(--color-2);
	padding: 1em 0;
	
	&__content {
		.list-social-network {
			list-style: none;
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			&__item {  
				margin-right: 1.5rem;
				&:last-child {
					margin-right: 0;
				} 
			}

			&__link {
				color: #fff;
				text-decoration: none;
				cursor: pointer;
				font-size: 1.5em;
			}
		}
	}
}