.skills {
	h2 {
		text-align: center;
		font-size: 2.5em;
		font-weight: 300;
		margin-top: 0;
		margin-bottom: .5em;
	}

	&__content {
		text-align: center;
		justify-content: center;
		--max-width: 1000px;

		figure {
			text-align: center;
		}
		
		img {
			@include from(lg) { --img-max-width: 50%; }
			filter: opacity(75%);
			transition: all .1s;
			margin-right: auto;
			margin-left: auto;

			&:hover {
				filter: none;
				transform: scale(1.02);
			}
		}

		meter {
			border: none;
		}
	}
}