<section class="l-section about-me">
	<h2>Sobre mí</h2>
	<div class="l-block l-grid lg-grid-2 about-me__content">
		<img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624127027/web-site-carlos-ramos/avatar.png" alt="Foto Carlos Ramos" class="avatar mx-auto">
		<p class="biography">Tecnólogo en Análisis y Desarrollo de Sistemas de Información. Apasionado por el aprendizaje de nuevas tecnologías de desarrollo de software y TI en general. Cuando no estoy programando, estoy navegando por la web consultando las últimas tendencias de la industria y viendo videos de memes.</p>
	</div>
</section>