<div class="l-section text-center contact">
  <i class="icon-email"></i>
  <h1>¿Quieres contactarme?</h1>
  <h2>¡Déjame tu mensaje y conversemos!</h2>
  <div class="l-block">
    <form action="#" method="POST" class="form-contact mx-auto" id="form-contact">
      <div class="l-grid m-grid-2 gap-05 inputs">
        <input type="text" name="name" placeholder="¿Cuál es tu nombre?" required autocomplete="off" autofocus>
        <input type="email" name="email" placeholder="¿Cuál es tu correo?" required autocomplete="off">
      </div>
      <textarea name="message" placeholder="Deja tu mensaje"></textarea>
      <input type="submit" value="Enviar">
    </form>
  </div>
</div>
