<section class="l-section skills">
	<div class="l-block skills__content">
		<h2>Habilidades</h2>
		<div class="l-grid gap-05 s-grid-2 m-grid-3 lg-grid-5">
			<% if (skills) { %>
				<% skills.map(skill => { %>
					<%- include('./card-skill.ejs', { img: skill.img, title: skill.title }) %>
				<% }) %>
			<% } %>
		</div>
	</div>
</section>