<footer class="main-footer">
  <div class="l-block main-footer__content">
    <ul class="menu-social-network">
      <li class="menu-social-network__item">
        <a href="<%= process.env.LINKEDIN %>" target="_blank" class="menu-social-network__link">
          Linkedin
        </a>
      </li>
      <li class="menu-social-network__item">
        <a href="<%= process.env.GITHUB %>" target="_blank" class="menu-social-network__link">
          <i class="fab fa-github"></i>
          Github
        </a>
      </li>
      <li class="menu-social-network__item">
        <a href="<%= process.env.INSTAGRAM %>" target="_blank" class="menu-social-network__link">
          Instagram
        </a>
      </li>
      <li class="menu-social-network__item">
        <a href="<%= process.env.TWITTER %>" target="_blank" class="menu-social-network__link">
          Twitter
        </a>
      </li>
    </ul>
  </div>
</footer>