<section class="l-section pb-7 main-banner">
	<div class="l-block l-grid lg-grid-2 main-banner__content">
		<div class="main-banner__copy">
			<span>¡Hola!</span>
			<h1>Soy Carlos Ramos</h1>
			<p class="profession">Web developer</p>
			<a href="/descargar-cv" class="button mr-1 button-primary">Descargar CV</a>
			<a href="/contacto" class="button button-secondary">Contacto</a>
		</div>
		<img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624127023/web-site-carlos-ramos/main-banner.svg" alt="imagen-banner" class="main-banner__img">
	</div>
</section>