<footer class="main-footer">
  <div class="l-block main-footer__content">
    <ul class="list-social-network">
      <li class="list-social-network__item">
        <a href="<%= process.env.LINKEDIN %>" target="_blank" class="list-social-network__link">
          <i class="icon-linkedin"></i>
        </a>
      </li>
      <li class="list-social-network__item">
        <a href="<%= process.env.GITHUB %>" target="_blank" class="list-social-network__link">
          <i class="icon-github"></i>
        </a>
      </li>
      <li class="list-social-network__item">
        <a href="<%= process.env.INSTAGRAM %>" target="_blank" class="list-social-network__link">
          <i class="icon-instagram"></i>
        </a>
      </li>
      <li class="list-social-network__item">
        <a href="<%= process.env.TWITTER %>" target="_blank" class="list-social-network__link">
          <i class="icon-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>