<section class="l-section skills">
  <h2>Habilidades</h2>
  <div class="l-block l-grid s-grid-2 m-grid-3 lg-grid-5 skills__content">
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/html.png" alt="HTML">
      <figcaption>HTML</figcaption>
      <meter max="100" value="85" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/css.png" alt="CSS">
      <figcaption>CSS</figcaption>
      <meter max="100" value="85" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/sass.png" alt="SASS">
      <figcaption>SASS</figcaption>
      <meter max="100" value="95" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129456/web-site-carlos-ramos/js.png" alt="JS">
      <figcaption>Javascrip</figcaption>
      <meter max="100" value="70" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/node.png" alt="NODE">
      <figcaption>Node.js</figcaption>
      <meter max="100" value="60" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/react.png" alt="REACT">
      <figcaption>React.js</figcaption>
      <meter max="100" value="40" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129456/web-site-carlos-ramos/php.png" alt="PHP">
      <figcaption>PHP</figcaption>
      <meter max="100" value="50" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129456/web-site-carlos-ramos/mysql.png" alt="SQL">
      <figcaption>MySQL</figcaption>
      <meter max="100" value="35" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/java.png" alt="JAVA">
      <figcaption>Java</figcaption>
      <meter max="100" value="20" low="25" high="75" optimum="90"></meter>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/cr-cloud/image/upload/v1624129457/web-site-carlos-ramos/git.png" alt="GIT">
      <figcaption>Git</figcaption>
      <meter max="100" value="40" low="25" high="75" optimum="90"></meter>
    </figure>
  </div>
</section>