:root {
	--color-1: #3EAF7C;
	--color-2: #3F3D56;

	--color-bg-body: #FAFAFE;
	--color-bg-section: #fff;
	--color-text: #444;
	--color-border: #ccc;

	--color-success: #d4edda;
	--color-danger: #f8d7da;
	--color-warning: #fff3cd;
	--color-info: #cce5ff;
}

$color-1: #3EAF7C;
$color-2: #3F3D56;

$color-bg-body: #FAFAFE;
$color-bg-section: #fff;
$color-text: #444;
$color-border: #ccc;

$color-success: #d4edda;
$color-danger: #f8d7da;
$color-warning: #fff3cd;
$color-info: #cce5ff;