body {
	background-color: var(--color-bg-body);
	color: var(--color-text);
	font-family: var(--font-body);
}


.button {
	--padding: .45rem;
	--color: #aaa;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: var(--padding) calc(var(--padding) * 2.5);
	border-radius: .25em;
	background-color: var(--color);
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 600;
	outline: none;
	line-height: 2;
	transition: all .2s;

	&:active {
		transform: scale(.99);
	}
}

.button-primary {
	--color: var(--color-1);
}

.button-secondary {
	--color: var(--color-2);
}

.ghost {
	background-color: transparent;
	color: var(--color);
	border: 1px solid;

	&:hover {
		background-color: var(--color);
		color: #fff;
	}
}