:root {
	// Colors
	// --color-1: #00BFA6;
	--color-1: #3EAF7C;
	--color-2: #3F3D56;

	--color-bg-body: #FAFAFE;
	--color-bg-section: #fff;
	--color-text: #444;
	--color-border: #ccc;

	// Layout	
	--width: 90%;
	--max-width: 75em;
	--padding-l-section: 1.5rem 0;
	--height-main-header: 3.5rem;
	--height-main-footer: 4rem;
	--img-max-width: 100%;

	// z-index
	--z-back: -10;
	--z-normal: 1;
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;

	--font-body: 'Poppins', sans-serif
}
	
$breakpoints: (
	s: 0,     // Todos los tamaños
	m: 40em,  // ~ 640px
	lg: 64em, // ~ 1024px
	xl: 90em  // ~ 1440px
);